*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100%;
}

header{
    width: 100vw;
    height: 10vh;
    max-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}