* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    width: 98vw;
    background-color: #FAFAFA;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #5BA7D1;
    overflow-x: hidden;
}

html {
    min-height: 100%;
    width: 98vw;
    overflow-x: hidden;
}


header {
    width: 98vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0px 0 10px 0.5px black;
    background-color: #e8e8e8;
}

main {
    height: 85%;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    padding-top: 12vh;
    gap: 5vh;
}

nav {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    transition: color 0.3s, font-size 0.3s;
}

a:visited {
    color: #b65bd1;
}

a:hover {
    color: blue;
    font-size: 18px;
}

aside {
    height: fit-content;
    max-height: fit-content;
    width: 22vw;
    background-color: #EFF0F2;
    border-radius: 0 5% 5% 0;
    padding: 20px;
}

#myPhoto {
    box-shadow: 0px 0 10px 1px black;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

dt {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: solid 1px #4B525D;
}

dd {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #2D5473;
}

#myNameAndCollege {
    width: 65vw;
    color: #2D5473;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 7vh;
    padding-bottom: 15px;
    border-bottom: solid 2px #4B525D;
}

#objectives, #Formation {
    width: 100%;
    max-width: 30vw;
    color: #5BA7D1;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 3vh;
    padding-bottom: 15px;
    border-bottom: solid 2px #4B525D;
}

#Pixel, #EnglishClass, #PvOperation {
    width: 100%;
    max-width: 30vw;
    color: #2D5473;
    font-size: 23px;
    margin-bottom: 3vh;
    padding-bottom: 15px;
    border-bottom: solid 2px #4B525D;
}

#objectivesText, #FormationText, #PixelText, #EnglishClassText, #PvOperationText {
    width: 100%;
    max-width: 65vw;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #2D5473;
}

#myObjectives, #myFormation {
    margin-bottom: 7vh;
}

footer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 0 10px 0.5px black;
    background-color: whitesmoke;
}

address {
    font-style: normal;
}

#email {
    color: #b65bd1;
}

.button {
    padding: 8px 16px;
}

/* Responsividade */
@media (max-width: 1024px) {
    main {
        flex-direction: column;
        padding: 10vh 5vw;
        gap: 5vh;
    }

    aside {
        width: 50vw;
    }

    dt{
        font-size: 30px;
    }

    dd, footer{
        font-size: 25px;
    }

    #myNameAndCollege, #objectives, #Formation, #Pixel, #EnglishClass, #PvOperation {
        width: 100%;
        font-size: 35px;
    }

    #myNameAndCollege, #objectivesText, #FormationText, #PixelText, #EnglishClassText, #PvOperationText {
        width: 100%;
        font-size: 30px;
    }

    #myPhoto {
        width: 250px;
    }

    header{
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    header {
        height: 8vh;
    }

    main {
        gap: 4vh;
        padding-top: 10vh;
    }

    aside {
        width: 80vw;
    }

    #myPhoto {
        width: 200px;
    }

    #myNameAndCollege {
        font-size: 25px;
    }

    #objectives, #Formation, #Pixel, #EnglishClass {
        font-size: 24px;
    }

    #objectivesText, #FormationText, #PixelText, #EnglishClassText {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    header {
        height: 8vh;
        width: 100vw;
    }

    aside {
        width: 100%;
        border-radius: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #myPhoto {
        width: 150px;
    }

    main{
        padding: 0;
        padding-top: 10vh;
    }

    #myFormation{
        width: 98vw;
    }

    #myNameAndCollege, #objectives, #Formation, #Pixel, #EnglishClass {
        width: 90%;
        font-size: 22px;
    }

    #objectivesText, #FormationText, #PixelText, #EnglishClassText {
        font-size: 18px;
    }
    #aboutMe{
        width: 98vw;
    }
    a{
        font-size: 15px ;
    }
    footer{
        gap: 10px;
        font-size: 10px;
    }
    dt{
        font-size: 22px;
    }
    dd{
        font-size: 18px;
    }
}
